<form class="login-form" accept-charset="utf-8" action="/Local/home">
  <h1> <%= __('Welcome') %> </h1>
<ul>
  <li><label for="username"><%= __('username') %></label>
    <li><label for="Email"><%= __('email') %></label>
    <li><label for="Mobile"><%= __('phoneno') %></label>
    <li><label for="Place"><%= __('city') %></label>
  <li>
  <button><%= __('changeLanguage') %></button></li>
</ul>
</form>
